<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Item</title>
</head>
<body>
    <a href='/dashboard'>Home</a>
    <a href='/'>Logout</a>
    <h2>Create a New Wish List Item</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" style='color:red'{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action='/addItem' method='post'>
        {% csrf_token %}
        <p>Item/Product: <input type='text' name='item_name'></p>
        <input type='hidden' value='{{request.session.id}}' name='adder'>
        <input type='hidden' value='{{request.session.id}}' name='wished_users'>
        <input type='submit' value='Add'>
    </form>
</body>
</html>