<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{item.item_name}}</title>
</head>
<body>
    <a href='/dashboard'>Home</a>
    <a href='/'>Logout</a>
    <h1>{{item.item_name}}</h1>
    <p>Users who added this product/item under their wish list:</p>
    <ul>
        {% for u in user %}
        <li>{{u.first_name}}</li>
        {% endfor %}
    </ul>

</body>
</html>